<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col">
        <h3>Kirjailijan <a class="font-weight-bold">{{ author.firstname }} {{ author.lastname }}</a> tiedot</h3>
    </div>
    <div class="col">
        <form action="{{ url_for('author_edit_info', firstname = author.firstname, lastname = author.lastname) }}">
            <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Muokkaa tietoja</button>
        </form>
    </div>
</div><br>

<p>Kirjailija lisätty: {{ author.date_created }}</p>
<p>Kirjoja sovelluksessa: {{ author.books_count }}</p><br>

<h5>Kirjat</h5>
<ul class="list-group list-group flush w-75">
    {% for book in books %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <span class="align-middle">
                    <a style="color: #000000;" href="{{ url_for('book_info', bookname = book.name) }}">{{ book.name }}</a></span>
            </div>
            <div class="col-sm">
            {% if current_user.is_authenticated %}
                {% if book.book_id in usersbooks %}
                  <td class="align-middle">
                    <p class="align-middle">Omassa hyllyssä!</p>
                  </td>
                {% else %}
                    <form method="POST" action="{{ url_for('book_add_to_user_from_authorinfo',firstname=author.firstname,
                     lastname=author.lastname, book_id=book.book_id) }}">
                        <span class="align-middle">
                        <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" type="submit">Lisää omiin kirjoihin</button>
                        </span>
                    </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<br><br>
<form action="{{ url_for('authors_index') }}">
    <button type="submit" class="btn" style="color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;">Takaisin kaikkiin kirjailijoihin</button>
</form>

{% endblock %}
</html>