<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}

{% block body %}
<form method="POST" class="needs-validation" novalidate>
    <h3>Muokkaa kirjailijan <strong>{{ author.firstname }} {{ author.lastname }}</strong> tietoja</h3><br>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="ValidationCustom01">Kirjailijan etunimi</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="firstname" id="validationCustom01" placeholder="Etunimi" value="{{ author.firstname }}" maxlength="30" minlength="1" required>
            <div class="invalid-feedback">
                Kirjailijan etunimen tulee olla 1-30 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="ValidationCustom02">Kirjailijan sukunimi</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="lastname" id="ValidationCustom02" placeholder="Sukunimi" value="{{ author.lastname }}" required maxlength="30" minlength="1">
            <div class="invalid-feedback">
                Kirjailijan sukunimen tulee olla 1-30 merkkiä pitkä.
            </div>
        </div>
    </div><br>

    <div class="form-group row">
        <div class="col-sm-3">
            <form method="POST" action="{{ url_for('author_edit_info', firstname=author.firstname, lastname=author.lastname) }}">
                <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" name="btn" value="tallenna">Tallenna muutokset</button>
            </form>
        </div>
        <div class="col-sm-2">
            <form action="{{ url_for('author_info', firstname=author.firstname, lastname=author.lastname) }}">
                <button type="submit" class="btn" style="color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;">Peruuta</button>
            </form>
        </div>
    </div>
</form>

<script>
  (function() {
    'use strict';
     window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% endblock %}
</html>