{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('authors_create') }}">
  <table>
    <tr>
      <td>
        {{ form.firstname.label }}
      </td>
      <td>
        {{ form.firstname }}
      </td>
      <td>
        <ul>
          {% for error in form.firstname.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.lastname.label }}
      </td>
      <td>
        {{ form.lastname }}
      </td>
      <td>
        <ul>
          {% for error in form.lastname.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn" type="submit" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Lisää uusi kirjailija</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
