<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col">
        <h3>Kirjan <a class="font-weight-bold">{{ book.name }}</a> tiedot</h3>
    </div>
    <div class="col">
        <form action="{{ url_for('book_edit_info', bookname=book.name, id=book.id) }}">
            <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" type="submit" name="{{ book.name }}">Muokkaa tietoja</button>
        </form>
    </div>
</div>
<br>
<p style="width: 75%">Tässä näet kaikki kirjalle lisätyt tiedot. Jos koet tiedot virheellisiksi, tai haluat lisätä puuttuvia tietoja, voit kirjautuneena päivittää tietoja painamalla nappia "Muokkaa tietoja".</p>
<p>Kirjailijan tietoihin pääset klikkaamalla kirjailijan nimeä.</p>
<br>

<ul class="list-group flush w-75">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Kirjailija</p>
            </div>
            <div class="col-sm">
                <a style="color: #000000;" href="{{ url_for('author_info', firstname = book.firstname, lastname=book.lastname) }}">
                    <strong>{{ book.firstname }} {{ book.lastname }}</strong></a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Julkaisuvuosi</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ book.year }}</strong></p>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Sivumäärä</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ book.pages }}</strong></p>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>ISBN-koodi</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ book.isbn }}</strong></p>
            </div>
        </div>
    </li>
</ul>
<br>
<form action="{{ url_for('books_index') }}">
    <button type="submit" class="btn" style="color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;">Takaisin kaikkiin kirjoihin</button>
</form>

{% endblock %}
</html>