<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}

{% block body %}
<form method="POST" class="needs-validation" novalidate>
    <h3>Muokkaa kirjan <strong>{{ book.name }}</strong> tietoja</h3><br>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="ValidationCustom01">Kirjan nimi</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" id="validationCustom01" placeholder="Kirjan nimi" value="{{ book.name }}" maxlength="40" minlength="1" required>
            <div class="invalid-feedback">
                Kirjan nimen tulee olla 1-40 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3">Valitse kirjailija</label>
        <div class="col-sm-5">
          <select class="form-control" value="" name="dropdown">
              <option selected="selected">{{ book.firstname }} {{ book.lastname }}</option>
            {% for author in authors %}
                {% if author.firstname != book.firstname and author.lastname != book.lastname %}
                    <option>{{ author.firstname }} {{ author.lastname }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3">Julkaisuvuosi</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="year" placeholder="Julkaisuvuosi" value="{{ book.year }}" maxlength="4" minlength="1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3">Sivumäärä</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="pages" placeholder="Sivuja" value="{{ book.pages }}" maxlength="4" minlength="1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3">ISBN</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="isbn" placeholder="ISBN" value="{{ book.isbn }}" maxlength="19" minlength="1">
        </div>
    </div><br>


    <div class="form-group row">
        <div class="col-sm-3">
            <form method="POST" action="{{ url_for('book_edit_info', bookname=book.name, id=book.id) }}">
                <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" name="btn" value="tallenna">Tallenna muutokset</button>
            </form>
        </div>
        <div class="col-sm-2">
            <form action="{{ url_for('book_info', bookname=book.name) }}">
                <button type="submit" class="btn" style="color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;">Peruuta</button>
            </form>
        </div>
    </div>

</form>

<script>
  (function() {
    'use strict';
     window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% endblock %}
</html>



