{% extends "layout.html" %}

{% block body %}
<!--<form method="GET" action="{{ url_for('books_index', user=user) }}"-->
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Kirjan nimi</th>
        <th scope="col">Kirjailijan nimi</th>
        <th scope="col">Lisää omiin kirjoihin</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>
            {{ book.name }}<!--</a>--> <!-- TODO linkki kirjan tietoihin-->
        </td>
        <td>{{ book.firstname }} {{ book.lastname }}</td> <!-- TODO linkki kirjailijan tietoihin-->
        <td>
          <form method="POST" action="{{ url_for('book_add_to_user', book_id=book.book_id) }}">
              <input type="submit" value="Lisää omiin kirjoihin"/>
          </form>
        </td>
        <td>
          <form method="GET" action="{{ url_for('book_info') }}">
            <input type="submit" value="Kirjan kaikki tiedot" name="{{ book.name }}">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}