{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">
  <table style="border-collapse:separate; border-spacing:0 15px; margin-top:-15px;">
    <tr>

      <td>
        Kirjailija
      </td>
      <td>
        <select name="dropdown">
          <option style="display:none">Valitse kirjailija</option>
          {% for author in authors %}
          <option>{{ author.firstname }} {{ author.lastname }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.pages.label }}
      </td>
      <td>
        {{ form.pages }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.isbn.label }}
      </td>
      <td>
        {{ form.isbn }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Lisää uusi kirja"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
