asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography>=2.3
enum34==1.1.6
Flask>=0.12.3
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.17
itsdangerous==0.24
jeepney==0.4
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
passlib==1.7.1
psycopg2==2.7.6.1
pycairo==1.18.0
pycparser==2.19
PyGObject==3.30.4
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
SQLAlchemy==1.2.5
Werkzeug==0.14.1
WTForms==2.2.1
