<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}
{% block body %}
<h3>Tervetuloa kirjahyllyysi netissä!</h3><br>
<p>Tämä sovellus on kaikkia enemmän tai vähemmän innokkaita lukijoita varten!</p>
<p>Käyttäjät pystyvät lisäämään sivuille
  lempikirjailijoitaan ja heidän kirjojaan, ja lisäämään niitä sitten omaan kirjahyllyyn. Omasta kirjahyllystä kirjoja
  voi merkitä luetuiksi ja lukemattomiksi, mikä tekee oman lukuharrastuksen seuraamisesta helppoa.</p>
<p>Jos et ole vielä rekisteröitynyt, klikkaa yläpalkin kohtaa <strong>Rekisteröidy</strong> ja liity mukaan!</p>
<br>
<p>Sovelluksen tietoihin ja koodiin pääset tutustumaan tarkemmin
  <a style="color: #cb5555" href="https://github.com/riinaalisah/Kirjahylly">Githubissa</a>
  ja tarkan käyttöohjeen löydät <a style="color: #cb5555" href="https://github.com/riinaalisah/Kirjahylly/blob/master/documentation/kayttoohje.md">täältä</a>.</p>
<br>
<h5>Lämpimästi tervetuloa! 😊</h5>


{% endblock %}
</html>
