<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kirjahylly</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    {% endif %}

    <ul>
      <li><a href="{{ url_for('books_index') }}">Listaa kirjat</a></li>
      <li><a href="{{ url_for('books_form') }}">Lisää kirja</a></li>
      <li><a href="{{ url_for('auth_index') }}">Listaa käyttäjät</a></li>
      <li><a href="{{ url_for('auth_form') }}">Lisää uusi käyttäjä</a></li>
      <li><a href="{{ url_for('authors_index') }}">Listaa kirjailijat</a></li>
      <li><a href="{{ url_for('authors_form') }}">Lisää uusi kirjailija</a></li>
    </ul>

    {% block body %}
      <p>
      Some content.
      </p>
    {% endblock %}
  </body>
</html>
