{% extends "layout.html" %}

{% block body %}
<form class="needs-validation" method="POST" action="{{ url_for('auth_edit') }}" novalidate>
    <h2>Muokkaa omia tietoja</h2>
    <p>Tässä voit muuttaa omia tietojasi.</p>

    <div class="form-group">
        <label class="col-form-label col-sm-3" for="ValidationCustom01"><strong>Käyttäjänimi</strong></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="username" id="validationCustom01" value="{{ user.username }}" maxlength="30" minlength="1" required>
            <div class="invalid-feedback">
                Käyttäjänimen tulee olla 1-30 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-form-label col-sm-3" for="ValidationCustom02"><strong>Sähköpostiosoite</strong></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="email" id="ValidationCustom02" value="{{ user.email }}" required maxlength="50" minlength="1">
            <div class="invalid-feedback">
                Sähköpostiosoitteen tulee olla 1-50 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-form-label col-sm-3"><strong>Salasana</strong></label>
        <div class="col-sm-4">
            <p>Emme tietenkään näytä salasanaasi. <a href="{{ url_for('auth_change_password') }}" style="color: #cb5555;">Mutta haluatko vaihtaa sen?</a></p>
        </div>
    </div><br>

    <div class="form-group">
        <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Tallenna muutokset</button>
    </div>

    <br><br>
    {% if current_user.role != 'admin' %}
    <div class="form-group">
        <button class="btn" style=" color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;" type="submit" name="btn" value="Poista käyttäjätili">Poista käyttäjätili</button>
    </div>
    {% endif %}

</form>

<script>
  (function() {
    'use strict';
     window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% endblock %}