{% extends "layout.html" %}

{% block body %}
<h3>Kirjaudu sisään</h3><br>
<form class="needs-validation" method="POST" action= "{{ url_for('auth_login') }}" novalidate>

  <div class="form-group col-sm-5">
    <label for="validationCustom01">Käyttäjänimi</label>
    <input type="text" class="form-control" name="username" id="validationCustom01" placeholder="Käyttäjänimi" required minlength="1" maxlength="30">
    <div class="invalid-feedback">
      Syötä käyttäjänimi.
    </div>
  </div>

  <div class="form-group col-sm-5">
    <label for="validationCustom02">Salasana</label>
    <input type="password" class="form-control" name="password" id="validationCustom02" placeholder="Salasana" required minlength="1" maxlength="20">
    <div class="invalid-feedback">
      Syötä salasana.
    </div>
  </div>

  <div class="form-group col-sm-5">
    <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Kirjaudu sisään</button>
    <small class="text-muted m-2">
      <a style="color: #cb5555;" href="{{ url_for('auth_reset_request') }}">Unohditko salasanasi?</a>
    </small>
  </div>

  <div class="form-group col-sm-6">

  </div>


</form>

<script>

  (function() {
    'use strict';
     window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock %}
      
