{% extends "layout.html" %}
{% block body %}
<h3>Omat kirjat</h3>
<p>Täällä näet mitä kirjoja olet lisännyt omaan kirjahyllyysi. Pääset kirjan tai kirjailijan tietoihin klikkaamalla kirjan tai kirjailijan nimeä, ja pystyt merkitsemään kirjoja luetuiksi tai lukemattomiksi, sekä poistamaan kirjoja omasta hyllystäsi.</p><br>

<p>Kirjoja kirjahyllyssä: {{ all_books }}</p>
<p>Luettuja kirjoja: {{ read_books }}</p>
<br>
<h5>Lukemattomat</h5>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 40%">Kirjan nimi</th>
                <th scope="col" style="width: 40%">Kirjailijan nimi</th>
                <th scope="col" style="width: 15.5%">Merkitse</th>
            </tr>
        </thead>

        <tbody>
            {% for book in unread %}
            <tr>
                <td class="align-middle">
                <a style="color: #000000;" href="{{ url_for('book_info', bookname = book.name) }}">{{ book.name }}</a>
                </td>
                <td class="align-middle">
                  <a style="color: #000000;" href="{{ url_for('author_info', firstname = book.firstname, lastname=book.lastname) }}">
                    {{ book.firstname }} {{ book.lastname }}</a>
                </td>
                <td class="align-middle">
                    <form method="POST" action="{{ url_for('books_set_read_or_delete', book_id=book.book_id) }}">
                        <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" type="submit" value="Merkitse luetuksi" name="btn">Luettu</button>
                    </form>
                </td>
                <td class="align-middle">
                    <form method="POST" action="{{ url_for('books_set_read_or_delete', book_id=book.book_id) }}">
                        <button class="btn" style=" color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;" type="submit" name="btn" value="Poista kirja">Poista kirja</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table><br>
</div>


<h5>Luetut</h5>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 40%">Kirjan nimi</th>
                <th scope="col" style="width: 40%">Kirjailijan nimi</th>
                <th scope="col" style="width: 15%">Merkitse</th>
            </tr>
        </thead>

        <tbody>
        {% for book in read %}
            <tr>
                <td class="align-middle">
                    <a style="color: #000000;" href="{{ url_for('book_info', bookname = book.name) }}">{{ book.name }}</a>
                </td>
                <td class="align-middle">
                  <a style="color: #000000;" href="{{ url_for('author_info', firstname = book.firstname, lastname=book.lastname) }}">
                    {{ book.firstname }} {{ book.lastname }}</a>
                </td>
                <td class="align-middle">
                    <form method="POST" action="{{ url_for('books_set_read_or_delete', book_id=book.book_id) }}">
                        <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37" type="submit" value="Merkitse lukemattomaksi" name="btn">Ei luettu</button>
                    </form>
                </td>
                <td class="align-middle">
                    <form method="POST" action="{{ url_for('books_set_read_or_delete', book_id=book.book_id) }}">
                        <button class="btn" style=" color: #000000; background-color: #e1dfdf; border-color: #e1dfdf;" type="submit" name="btn" value="Poista kirja">Poista kirja</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br>

{% endblock %}