{% extends "layout.html" %}
{% block body %}
<form class="needs-validation" method="POST" action="{{ url_for('auth_register') }}" novalidate>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="validationCustom01">Käyttäjänimi</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="username" id="validationCustom01" placeholder="Käyttäjänimi" minlength="5" maxlength="30">
            <div class="invalid-feedback">
                Käyttäjänimen tulee olla 5-30 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="validationCustom02">Sähköpostiosoite</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="email" id="validationCustom02" placeholder="Sähköpostiosoite" minlength="5" maxlength="50">
            <div class="invalid-feedback">
                Sähköpostiosoitteen tulee olla 5-50 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="validationCustom03">Salasana</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="password" id="validationCustom03" placeholder="Salasana" minlength="5" maxlength="20">
            <div class="invalid-feedback">
                Salasanan tulee olla 5-20 merkkiä pitkä.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" for="validationCustom04">Salasana uudestaan</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="passwordagain" id="validationCustom04" placeholder="Salasana uudestaan" minlength="5" maxlength="20">
            <div class="invalid-feedback">
                Syötä salasana uudestaan.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <button type="submit" class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Rekisteröidy</button>
    </div>


</form>
<script>

  (function() {
    'use strict';
     window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% endblock %}