{% extends "layout.html" %}

{% block body %}
<br>
<div class="row">
    <div class="col-md-8">
        <h2>Käyttäjän <a class="font-weight-bold">{{ user.username }}</a> tiedot</h2>
    </div>
    <div class="col-md-3">
        <form action="{{ url_for('auth_edit') }}">
            <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Muokkaa tietoja</button>
        </form>
    </div>
</div>
<br>

<div class="row">
    <p class="col-8">Käyttäjänimi: {{ user.username }}</p>
</div>
<br>

<div class="row">
    <p class="col-8">Sähköpostiosoite: {{ user.email }}</p>
</div>
<br>

<div class="row">
    <p class="col-8">Liittymisaika: {{ user.date_created }}</p>
</div>

{% endblock %}
