{% extends "layout.html" %}

{% block body %}
<form method="GET" action="{{ url_for('auth_info', username=user.username) }}">
    <h3>Käyttäjän {{ user.name }} tiedot</h3>
    <p></p>
    <p>Käyttäjänimi: {{ user.username }}</p>

    {% if all_books is defined %}
    <p>Kirjoja kirjahyllyssä: {{ all_books }}</p>
    {% endif %}

    {% if read_books is defined %}
    <p>Luettuja kirjoja: {{ read_books }}</p>
    {% endif %}
    <p></p>
    <a href="{{ url_for('auth_edit_form', username=user.username) }}" class="button">Muokkaa tietoja</a>

    <p></p>
    <h4>Omat kirjat</h4>
    <table>
        <tr>
            <th>Kirjan nimi</th>
            <th>Kirjailijan nimi</th>
            <th>Luettu</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book.firstname }} {{ book.lastname }}</td>
            <td>{{ book.read }}</td>
            <td>
                {% if book.read == False %}
                <form method="POST" action="{{ url_for('books_set_read_or_delete', username=user.username, book_id=book.book_id) }}">
                    <input type="submit" name="btn" value="Merkitse luetuksi"/>
                </form>
                {% endif %}
                {% if book.read == True %}
                <form method="POST" action="{{ url_for('books_set_read_or_delete', username=user.username, book_id=book.book_id) }}">
                    <input type="submit" name="btn" value="Merkitse lukemattomaksi"/>
                </form>
                {% endif %}
            </td>
            <td>
            </td>
            <td>
                <form method="POST" action="{{ url_for('books_set_read_or_delete', username=user.username, book_id=book.book_id) }}">
                    <input type="submit" name="btn" value="Poista kirja"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</form>
{% endblock %}
