<!DOCTYPE html>
<html lang="fi">

{% extends "layout.html" %}
{% block body %}

<br>
<div class="row">
    <div class="col">
        <h3>Käyttäjän <a class="font-weight-bold">{{ user.username }}</a> tiedot</h3>
    </div>
    <div class="col">
        <form action="{{ url_for('auth_edit') }}">
            <button class="btn" style="color: #ffffff ; background-color: #b34d37; border-color: #b34d37">Muokkaa tietoja</button>
        </form>
    </div>
</div>
<br>

<ul class="list-group flush w-75">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Käyttäjänimi</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ user.username }}</strong></p>
            </div>
        </div
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Sähköpostiosoite</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ user.email }}</strong></p>
            </div>
        </div
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm">
                <p>Liittymisaika</p>
            </div>
            <div class="col-sm">
                <p><strong>{{ user.date_created }}</strong></p>
            </div>
        </div>
    </li>
</ul>

{% endblock %}
</html>